{% extends 'base.html' %} 
{% block body %}

<div class="container">
  <div class="card mt-5">
    <div class="card-header text-center">
      <h1>404 Page not found !</h1>
    </div>
    <div class="px-3 py-3">
        <h3>Sorry, This link does not exists in DB !!!</h3>
        <a href="{% url 'shortener:home' %}" class="btn btn-primary btn-lg">Back home</a>
    </div>
  </div>
</div>
{% endblock body %}