{% extends 'base.html' %} 
{% block body %}

<div class="container">
  <div class="card mt-5">
    <div class="card-header text-center py-3">
      <h1>Details of {{ url }}</h1>
    </div>
    <div class="px-3 py-4">
        <h3>Metrics</h3>
    </div>
    <div class="px-3 py-4">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Browser</th>
                        <th>Clicked Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in details_url %}
                    <tr>
                        <td>{{ d.browser }}</td>
                        <td>{{ d.created | date:"Y-m-d" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary btn-lg">Back</a>
    </div>
  </div>
</div>
{% endblock body %}