{% extends 'base.html' %} 
{% block body %}

<div class="container">
  <div class="card mt-5">
    <div class="card-header text-center py-3">
      <h1>URL Shortner</h1>
    </div>
    <div class="px-3 py-4">
        <h3>Full list URL</h3>
    </div>
    <div class="px-3 py-4">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Long URL</th>
                        <th>Short URL</th>
                        <th>Created</th>
                        <th>Metrics</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in full_list %}
                    <tr>
                        <td>{{ l.long_url }}</td>
                        <td>
                            <a href="{% url 'shortener:redirect' l.short_url %}" target="_blank">{{ l.short_url }}</a>
                        </td>
                        <td>{{ l.created | date:"Y-m-d" }}</td>
                        <td>
                            <a href="{% url 'shortener:details' l.pk %}" class="link-primary w-100">More</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{% url 'shortener:home' %}" class="btn btn-primary btn-lg">Back home</a>
    </div>
  </div>
</div>
{% endblock body %}