{% extends 'base.html' %} 
{% block body %}

<div class="container">
  <div class="card mt-5">
    <div class="card-header text-center">
      <h1>URL Shortner</h1>
    </div>
    <div class="px-3 py-3">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="row g-1">
          <div class="col-8">{{form.long_url}}</div>
          <div class="col-2">
            <button class="btn btn-success btn-lg w-100" type="submit">
              Generate
            </button>
          </div>
          <div class="col-2">
            <a class="btn btn-primary btn-lg w-100" href="{% url 'shortener:full_list' %}">
                Full list
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% if errors %}
  <div class="alert alert-danger" role="alert">
    <p>{{errors}}</p>
  </div>
  {% endif %}

  {% if new_url %}

  <div class="mx-auto text-center mt-5">
    <h2 class="text-danger">Your shortened Url</h2>
    <p>You can copy this link</p>
    <p class="">{{new_url}}</p>
    <p><span class="text-danger">Original URL:</span> {{long_url}}</p>
  </div>
  {% endif %}
</div>
{% endblock body %}